<!DOCTYPE html>//version html5
<html lang="en">
<head>
    <meta charset="UTF-8">//formato latinoamericano
    <link href="estilo.css" rel="stylesheet">
    <title>Principal</title>
</head>
<body>
<h1> Página Princpal del Sitio Biblioteca</h1>
<h2> Seccion No 1</h2>
<h6> Subtitulo</h6>
<p>Esto es un párrafo</p>
<p>Aprendiendo html</p>
<a href="http://google.com.co/%22%3EIngrese a Google--</a>
<div ><p>parrafo dentro del div</p></div>
<div class="cajita"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh7HwVz9h18DrB8OeLJ1oUyWw6JPIBqfxDUEiFi_804PEIQxzvfuW5p0eQ3inRMifes4s&usqp=CAU%22%3E</div>
<div class="cajita"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh7HwVz9h18DrB8OeLJ1oUyWw6JPIBqfxDUEiFi_804PEIQxzvfuW5p0eQ3inRMifes4s&usqp=CAU%22%3E</div>
<div><input type="number"/><input type="submit"></div>
<div class="cajita" id="cajita">
    <table>
        <tr>
            <td>campo1</td>
            <td>campo2</td>
            <td>campo3</td>
        </tr>
        <tr>
            <td>campo1</td>
            <td>campo2</td>
            <td>campo3</td>
        </tr>
    </table>
</div>

</body>
</html>